.bg-image {
    background-image: url("./asset/atistic.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 480px;
    width: 100%;
    top: 0;
    left: 0;
}

.three-dot {
    width: 20px;
    height: 20px;
}
.nav-links {
    gap: 2rem;
}

.container-wapper {
    width: 980px;
}

.mt-180 {
    margin-top: 180px;
}

.mb-30 {
    margin-bottom: 30px;
}

.isaiah {
    width: 230px;
    height: 230px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 25px;
}

.social {
    gap: 20px;
    align-self: center;
}

.social-icon {
    font-size: 30px;
    color: #848484;
}

.social-icon.fa-facebook-f:hover {
    color: #3b5998;
}

.social-icon.fa-twitter:hover {
    color: #55acee;
}

.social-icon.fa-linkedin:hover {
    color: #007bb6;
}

.social-icon.fa-instagram:hover {
    color: #c93b9b;
}

.social-icon.fa-github:hover {
    color: #161b22;
}

.name {
    font-size: 42px;
    line-height: 42px;
}

.card-icon {
    font-size: 60px;
    margin-bottom: 10px;
}

.interest-icon {
    font-size: 25px;
    color: #007bb6;
}

.zmdi.contact-icon {
    font-size: 50px;
}

.card {
    width: 33.33%;
    padding: 15px;
    transition: 1s ease-in;
    overflow: hidden;
}

.ball {
    width: 12px;
    height: 12px;
    border-radius: 100%;
}

@media screen and (max-width: 1000px) and (min-width: 900px) {
    .card  {
        width: 50%;
    }
}

@media screen and (min-width: 100px) and (max-width: 899px) {
    .container-wapper {
        width: 100%;
    }

    .main-body {
        padding: 0 10px;
    }

    .card {
        width: 100%;
    }

    .smalnav {
        display: none;
        position: absolute;
        flex-direction: column;
        height: 36vh;
        width: 100%;
        background: white;
        top: 0;
        right: 0;
        padding: 20px;
        align-items: center;
        justify-content: space-evenly;
    }
}
